body {
		font-family: 'Lucida Grande', Verdana, Arial;
		font-size: 12px;
}

.machine {
		width: 800px;
		margin: auto;
		background-color: gray;
		position: relative;
}

.stage {
		margin-top: 250px;
		width: 100px;
		height: 400px;
		display: inline-block;
		vertical-align: middle;
		-webkit-perspective: 800;
		perspective: 800;
		margin-right: 10px;
}

.stage {
		margin-left: 100px;
}

.rotate {
		width: 100px;
		height: 400px;
		-webkit-transform-style: preserve-3d;
}

.ring {
		height: 110px;
		width: 100px;
		-webkit-transform-style: preserve-3d;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-webkit-animation-duration: 2s;
}

.ring.active {
		-webkit-animation-name: x-spin;
}

.ring > :nth-child(odd) {
		background-color: #995C7F;
}

.ring > :nth-child(even) {
		background-color: #835A99;
}

.poster {
		position: absolute;
		left: 10px;
		width: 100px;
		height: 107px;
		opacity: 1;
		color: rgba(0,0,0,0.9);

}

.poster > p {
		font-family: 'Georgia', serif;
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		margin-top: 28px;
}

@-webkit-keyframes x-spin {
		0%    { -webkit-transform: rotateX(0deg); }
		50%   { -webkit-transform: rotateX(180deg); }
		100%  { -webkit-transform: rotateX(360deg); }
}


.arm-wrapper {
		position: absolute;
		right: -40px;
		top: 50%;
}

.arm {
		display: inline-block;
		vertical-align: middle;
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 60px;
    height: 80px;
    border-radius: 10% / 50%;
    background-color: #666;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -webkit-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -moz-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -ms-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -o-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
}

.arm::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 16px;
    width: 16px;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0px 2px 0px #333;
    background-color: #999;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
    background-image: -webkit-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
    background-image: -moz-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
    background-image: -ms-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
    background-image: -o-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
    background-image: linear-gradient(to right, #666666 0%, rgba(255, 255, 255, 0.7) 50%, #666666 100%);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.arm::after {
    content: '';
    position: absolute;
    top: -70px;
    left: -4px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #760209;
    border: 2px solid #5d0207;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -moz-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -ms-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}


.arm.clicked::before {
    top: -20px;
    left: 20px;
    -webkit-transform: rotate3d(100, 10, 0, 180deg);
    -moz-transform: rotate3d(100, 10, 0, 180deg);
    transform: rotate3d(100, 10, 0, 180deg);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.arm.clicked:after {
    top: 90px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
